
<div class="top-page">
</div>
<div class="order-card">
  <div class="order-card-wizard">
    <img src=<%= @order.wizard.picture_url %> alt="<% @order.wizard.name %>"/>
    <h3><strong>Your wizard</strong></h5>
    <p><strong>Name:</strong> <%=@order.wizard.name %></p>
    <p><strong>Species:</strong> <%=@order.wizard.species %></p>
    <p><strong>House:</strong> <%=@order.wizard.house %></p>
    <p><strong>Rate:</strong> <%=@order.wizard.price %></p>
    <div class="order-card-wizard-text">
      <p><strong>Description:</strong> <%=@order.wizard.description %></p>
    </div>
  </div>
  <div class="order-card-details">
    <div class="order-card-order">
      <h4><strong>Details of the order</strong></h4>
      <p><strong>Duration:</strong> <%= @order.duration %> day<%= "s" if @order.duration > 1 %></p>
      <p><strong>Total price:</strong> <%= @order.amount %> CHF</p>
      <p><strong>End date:</strong> <%= @order.start_date %></p>
      <p><strong>Start date:</strong> <%= @order.end_date %></p>
    </div>
    <div class="order-card-user">
      <h4><strong>Your information</strong></h4>
      <p><strong>Pseudo:</strong> <%= @order.user.username %></p>
      <p><strong>Email:</strong> <%= @order.user.email %></p>
    </div>
  </div>
</div>
<div class="container d-flex justify-content-center">
  <%= link_to "Back to wizards", wizards_path, class: "btn btn-ghost"%>
</div>
