<div class="home-banner">
  <div class="container d-flex flex-column justify-content-between">
    <h1>Spent time with a <strong>Wizard</strong> ?</h1>
    <br>
    <p>At Wizrent you got the chance to rent a wizard & spent time with.</p>
    <br>
    <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
      <div class="search-form-control form-group">
        <input class="form-control string required" type="text" name="search[query]" id="search_query" />
        <button name="button" type="submit" class="btn btn-flat">
          <i class="fas fa-search"></i> Search
        </button>
      </div>
    </form>
  </div>
</div>

<div class="ctn home-one">
  <div class="home-pic">
    <h1>Do you like magic ?</h1>
  </div>
</div>

<div class="container mt-5">
  <h1 id="titlehome">Here are the top <%= @wizards.count %> of Wizrent</h1>
    <div class="ctn cardcont">
    <% @wizards.each do |wizard| %>
      <div class="card-trip">
        <img src="<%= wizard.picture_url %>" alt="">
        <div class="card-trip-infos">
          <div>
            <h2><%= link_to wizard.name, wizard_path(wizard), style:"color:white;"%></h2>
            <p><%= wizard.species %></p>
            <h2 class="card-trip-pricing"><%= wizard.price %>.-</h2>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<iframe width="100%" height="100" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/430111&color=%23ff5500&auto_play=true&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true">
    </iframe>
