<div class="home-banner">
  <div class="container d-flex flex-column justify-content-between">
    <h1>Spent time with a <strong>Wizard</strong> ?</h1>
    <br>
    <p>At Wizrent you got the chance to rent a wizard & spent time with.</p>
    <br>
    <div class="form-for">
      <%= form_tag wizards_path, method: :get do %>
      <%= text_field_tag :query, params[:query], class: "form-cont", placeholder: "Find a wizard" %>
      <div class="buton-form">
        <%= submit_tag "Search", class: "btn btn-ghost" %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="contain">
  <h2>What's your favorite species ?</h2>
  <div class="spices">
    <img src="<%= asset_path('giant.jpg') %>" alt="">
    <img src="<%= asset_path('goblin.jpg') %>" alt="">
    <img src="<%= asset_path('creature.jpg') %>" alt="">
    <img src="<%= asset_path('human.jpg') %>" alt="">
    <h2 class="linkspic"><%= link_to "Giant", wizards_path, style:"color:white;" %></h2>
    <h2 class="linkspic"><%= link_to "Goblin", wizards_path, style:"color:white;" %></h2>
    <h2 class="linkspic"><%= link_to "House Elf", wizards_path, style:"color:white;" %></h2>
    <h2 class="linkspic"><%= link_to "Human", wizards_path, style:"color:white;" %></h2>
  </div>
</div>

<div class="ctn home-one">
  <div class="home-pic">
    <h1 style="padding-top: 270px;"><%= link_to "Do you like magic ?", new_user_session_path, style:"color:white;" %></h1>
  </div>
</div>

<div class="container mt-5">
  <h1 id="titlehome">Here are the top <%= @wizards.count %> of Wizrent</h1>
    <div class="ctn cardcont">
    <% @wizards.each do |wizard| %>
      <div class="card-trip">
        <img src="<%= wizard.picture_url %>" alt="">
        <div class="card-trip-infos">
          <div>
            <h2><%= link_to wizard.name, wizard_path(wizard), style:"color:white;" %></h2>
            <p><%= wizard.species %></p>
            <h2 class="card-trip-pricing"><%= wizard.price %>.-</h2>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%# <iframe width="100%" height="100" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/430111&color=%23ff5500&auto_play=true&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true">
    </iframe> %>
