<div class="banner mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div>
    <h1 id="title-index">Wizards</h1> 
  </div>
</div>

<div class="container text-center">
  <div class="wizards-list">
   <% @wizards.each do |wizard| %>
    <div class="card-category card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/1600x900/?harrypotter,<%= wizard.name.split.first  %>)">
      <%= link_to wizard.name, wizard_path(wizard) %>
      <%= wizard.price %>
      <%= wizard.picture_url %>
    </div>
  <% end %>
  </div>
 
  <%= link_to 'Create a wizard', new_wizard_path, class: "btn btn-primary mt-4 mb-4" %>
</div>

