<div class="container">
  <div class="col-12 col-sm-8 col-md-4 offset-sm-2 offset-md-4 w-50 log-form">

    <h1>Create a new wizard</h1>
    <%= simple_form_for @wizard do |f| %>
      <%= f.input :name %>
      <%= f.input :eye_color %>
      <%= f.input :hair_color %>
      <%= f.input :house %>
      <%= f.input :price %>
      <%= f.input :photo, as: :file %>
      <%= f.input :description %>
      <%= f.input :species %>
      <div class="d-flex justify-content-between my-4">
        <%= f.submit class: 'btn btn-ghost ml-0' %>
        <%= link_to 'Back', wizards_path, class:"btn btn-ghost mr-0"%>
      </div>
    <% end %>
  </div>
</div>
