
<div class="container" style="margin-top: 200px;">
  <div class="text d-flex flex-column align-items-center mb-5">
    <img style="max-width: 200px;" src= <%= @wizard.picture_url %> alt="">
    <h1 style="margin-top: 20px; margin-bottom: 10px;"><%= @wizard.name %></h1>
    <p>Eye colour: <%= @wizard.eye_color %><br></p>
    <p>Hair colour: <%= @wizard.hair_color %><br></p>
    <p>House: <%= @wizard.house %><br></p>
    <p>Price: <%= @wizard.price %><br></p>
    <p>species: <%= @wizard.species %><br></p>
    <h6>Description</h6>
    <p style="max-width: 600px;"><%= @wizard.description %><br></p>

    <% if current_user == @wizard.user %>
      <div class="d-flex justify-content-between my-4">
        <%= link_to 'Edit', edit_wizard_path(@wizard), class:"btn btn-ghost mr-0"%>
        <%= link_to 'Destroy', @wizard, class:"btn btn-ghost mr-0", method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>
  </div>


</div>
