<div class="top-page">
</div>

<div class="card-product">
  <img src=" <%= asset_url("showbanner.jpg") %>" alt="castle">
  <div class="card-product-infos">
    <% if @wizard.photo.attached? %>
      <img id="demoObject" src= <%= cl_image_path(@wizard.photo.key) %>>
    <% else %>
      <img id="demoObject" src= <%= image_url(@wizard.picture_url) %>>
    <% end %>
    <div class="text">   
      <h1><%= @wizard.name %><br></h1>
      <div class="info">
        <br>
        <p><strong>Eyes color:</strong> <%= @wizard.eye_color %><br></p>
        <p><strong>Hair colour:</strong> <%= @wizard.hair_color %><br></p>
        <p><strong>House:</strong> <%= @wizard.house %><br></p>
        <p><strong>Price:</strong> <%= @wizard.price %>.-<br></p>
        <p><strong>Species:</strong> <%= @wizard.species %><br></p>
        <p><strong>Description:</strong></p>
        <p style="max-width: 800px;"><%= @wizard.description %><br></p>
      </div>
    </div>
  </div>
</div>

<% if current_user == @wizard.user %>
  <div class="d-flex justify-content-center my-4">
    <%= link_to 'Edit', edit_wizard_path(@wizard), class:"btn btn-ghost mr-0" %>
    <%= link_to 'Destroy', @wizard, class:"btn btn-ghost mr-0", method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% else %>
  <div class="d-flex justify-content-center my-4">
    <%= link_to 'Book this wizard', new_wizard_order_path(@wizard), class:"btn btn-ghost mr-0"%>
  </div>
<% end %>
</div>
